/* body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-custom-light {
  background-color: rgb(245, 245, 245);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1080;
} 

.cs-border-top {
  border-top: 1px solid rgba(255,255,255,.15);
}

.cs-border-bottom {
  border-bottom: 1px solid rgba(255,255,255,.15);
}

.cs-nav-link {
  color: rgba(255,255,255,.8);
  text-decoration: none;
}

.cs-nav-link svg {
  color: rgba(255,255,255,.3);
}

.cs-nav-link:hover {
  color: white;
  text-decoration: none;
}

.cs-nav-link:hover svg {
  color: white;
}

.cs-nav-link:focus {
  color: white;
  text-decoration: none;
}

.cs-nav-link:focus svg {
  color: white;
}

.cs-nav-link.active {
  color: white;
}

.cs-nav-link.active svg {
  color: white;
}
